name: raijin

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.7
    restart: on-failure
    ports: [ 22181:2181 ]
    healthcheck:
      test: echo ruok | nc 127.0.0.1 2181 || exit -1
      interval: 10s
      timeout: 5s
      retries: 3

    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.7.7
    restart: on-failure
    ports: [ 29092:29092 ]
    depends_on:
      zookeeper:
        condition: service_healthy
        required: true
        restart: true

    healthcheck:
      test: /bin/kafka-topics --bootstrap-server localhost:9092 --list | grep -E 'user-commands|project-commands' &> /dev/null
      start_period: 60s
      interval: 20s
      timeout: 5s
      retries: 5

    environment:
      KAFKA_OPTS: "-Dzookeeper.4lw.commands.whitelist=ruok"
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  raijin-identity:
    container_name: raijin-identity
    env_file: apps/identity/.env
    ports: [ 8080:8080 ]
    build:
      context: apps/identity
      dockerfile: Dockerfile

    depends_on:
      kafka:
        condition: service_healthy
        required: true
        restart: true

    develop:
      watch:
        - path: apps/identity/build/libs/identity-0.0.1-SNAPSHOT.jar
          action: sync+restart
          target: /app/identity.jar

  raijin-scrum:
    container_name: raijin-scrum
    env_file: apps/scrum/.env
    ports: [ 8081:8080 ]
    build:
      context: apps/scrum
      dockerfile: Dockerfile

    depends_on:
      kafka:
        condition: service_healthy
        required: true
        restart: true

    develop:
      watch:
        - path: apps/scrum/build/libs/scrum-0.0.1-SNAPSHOT.jar
          action: sync+restart
          target: /app/scrum.jar
