name: raijin

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.7
    restart: on-failure
    ports: [ 22181:2181 ]
    healthcheck:
      test: echo ruok | nc 127.0.0.1 2181 || exit -1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.7.7
    restart: on-failure
    ports: [ 29092:29092 ]
    depends_on:
      zookeeper:
        condition: service_healthy
        required: true
        restart: true

    healthcheck:
      test: [ "CMD", "kafka-broker-api-versions", "--bootstrap-server", "kafka:9092" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

    environment:
      KAFKA_OPTS: "-Dzookeeper.4lw.commands.whitelist=ruok"
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  gateway:
    container_name: raijin-gateway
    env_file: apps/gateway/docker.env
    ports: [ 8080:8080 ]
    build:
      context: apps
      dockerfile: gateway/Dockerfile

    depends_on:
      identity:
        condition: service_healthy
        required: true
        restart: true

      scrum:
        condition: service_healthy
        required: true
        restart: true

    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8080/api/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

    develop:
      watch:
        - path: apps/gateway/build/libs/gateway-0.0.1-SNAPSHOT.jar
          action: sync+restart
          target: /app/gateway.jar

  identity:
    container_name: raijin-identity
    env_file: apps/identity/docker.env
    hostname: identity
    ports: [ 8081:8080 ]
    build:
      context: apps
      dockerfile: identity/Dockerfile

    depends_on:
      kafka:
        condition: service_healthy
        required: true
        restart: true

    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8080/api/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

    develop:
      watch:
        - path: apps/identity/build/libs/identity-0.0.1-SNAPSHOT.jar
          action: sync+restart
          target: /app/identity.jar

  scrum:
    container_name: raijin-scrum
    env_file: apps/scrum/docker.env
    hostname: scrum
    ports: [ 8082:8080 ]
    build:
      context: apps
      dockerfile: scrum/Dockerfile

    depends_on:
      kafka:
        condition: service_healthy
        required: true
        restart: true

    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8080/api/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

    develop:
      watch:
        - path: apps/scrum/build/libs/scrum-0.0.1-SNAPSHOT.jar
          action: sync+restart
          target: /app/scrum.jar

  notifications:
    container_name: raijin-notifications
    env_file: apps/notifications/docker.env
    build:
      context: apps
      dockerfile: notifications/Dockerfile

    depends_on:
      kafka:
        condition: service_healthy
        required: true
        restart: true

    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:8080/api/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

    develop:
      watch:
        - path: apps/notifications/build/libs/notifications-0.0.1-SNAPSHOT.jar
          action: sync+restart
          target: /app/notifications.jar
